#About.section {
  padding: 5rem 0;
  .about-main {
    text-align: $center;
    h2 {
      @include textf(2.3rem, 2.3rem, 600);
      margin-bottom: 1rem;
      color: $main-color;
    }
    p {
      @include textf(1rem, 1rem, 400);
      margin-bottom: 2rem;
    }

    .con {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .img {
        width: 30%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        width: 60%;
        .box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          i {
            font-size: 1rem;
          }

          .box-con {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .text-con {
              text-align: left;
            }
          }
        }
        .box-bottom {
          display: flex;
        }
      }
    }
  }
}
