@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  opacity: 60%;
}

h1,
h2 {
  font-family: "Roboto", serif;
}

button.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  border: none;
  outline: none;
  background: #ffbc13;
  color: #fff;
  transition: transform;
}
button.btn:hover {
  background: #000;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1rem;
}

header .nav_top {
  background: #ffbc13;
}
header .nav_top .top_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
header .nav_top .top_main .top_left a {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-right: 3rem;
}
header .nav_top .top_main .top_left a i {
  margin-right: 0.5rem;
}
header .nav_middle .middle_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
header .nav_middle .middle_main .logo_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
header .nav_middle .middle_main .logo_right .loc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .nav_middle .middle_main .logo_right .loc i {
  color: #ffbc13;
  font-size: 3rem;
}
header .nav_middle .middle_main .logo_right .loc .text h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
header .nav_bottom {
  background: #000;
}
header .nav_bottom .bottom_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}
header .nav_bottom .bottom_main ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
header .nav_bottom .bottom_main ul li a {
  color: #fff;
  text-transform: uppercase;
}
header .nav_bottom .bottom_main i {
  font-size: 1rem;
  color: #fff;
}

main #hero.section {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
main #hero.section img.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main #hero.section .hero-main {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0;
  align-items: center;
  position: relative;
}
main #hero.section .hero-main .text {
  width: 40%;
}
main #hero.section .hero-main .text h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
}
main #hero.section .hero-main .text h1 span {
  color: #ffbc13;
}
main #hero.section .hero-main .text p {
  margin-bottom: 1rem;
  color: #fff;
  padding-right: 6rem;
}
main #hero.section .hero-main .hero-img {
  width: 40%;
}
main #hero.section .hero-main .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #About.section {
  padding: 5rem 0;
}
main #About.section .about-main .about-text {
  text-align: center;
  margin-bottom: 5.1rem;
}
main #About.section .about-main .about-text h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffbc13;
}
main #About.section .about-main .about-text p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}
main #About.section .about-main .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main #About.section .about-main .con .img {
  width: 30%;
  height: 100%;
}
main #About.section .about-main .con .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #About.section .about-main .con .text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
main #About.section .about-main .con .text .box {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 63px;
}
main #About.section .about-main .con .text .box .img i {
  font-size: 3rem;
  color: #ffbc13;
}
main #About.section .about-main .con .text .box .box-con {
  display: flex;
}
main #About.section .about-main .con .text .box .box-con .text-con {
  text-align: left;
}
main #About.section .about-main .con .text .box .box-con .text-con h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
main #About.section .about-main .con .text .box .box-con .text-con p {
  margin-bottom: 1rem;
}
main #About.section .about-main .con .text .box-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
}
main #About.section .about-main .con .text .box-bottom .box-con {
  padding: 1rem;
  border: 2px solid #ffbc13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
main #About.section .about-main .con .text .box-bottom .box-con i {
  font-size: 3rem;
  color: #ffbc13;
}
main #About.section .about-main .con .text .box-bottom .box-con .text-con h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
main #services.section {
  position: relative;
  width: 100%;
  height: auto;
}
main #services.section img.services-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
main #services.section .services-main {
  display: flex;
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
main #services.section .services-main h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}
main #services.section .services-main .circle {
  position: relative;
  width: 100%;
  max-width: 1800px;
  height: 35rem;
  margin: 0 auto;
}
main #services.section .services-main .circle .circle-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 2;
}
main #services.section .services-main .circle .circle-img::before {
  content: "";
  position: absolute;
  background: #ffffff;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.25);
}
main #services.section .services-main .circle .circle-img::after {
  content: "";
  position: absolute;
  background: #ffffff;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.25);
}
main #services.section .services-main .circle .circle-img img {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  -o-object-fit: fill;
     object-fit: fill;
}
main #services.section .services-main .circle .circle-con {
  position: absolute;
  display: flex;
  width: 32%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
main #services.section .services-main .circle .circle-con.con-left1 {
  top: 13%;
  left: 7%;
}
main #services.section .services-main .circle .circle-con.con-left2 {
  top: 42%;
  left: 4%;
}
main #services.section .services-main .circle .circle-con.con-left3 {
  top: 70%;
  left: 7%;
}
main #services.section .services-main .circle .circle-con.con-right1 {
  top: 13%;
  right: 7%;
  flex-direction: row;
}
main #services.section .services-main .circle .circle-con.con-right1 .text {
  text-align: left;
}
main #services.section .services-main .circle .circle-con.con-right2 {
  top: 42%;
  right: 4%;
  flex-direction: row;
}
main #services.section .services-main .circle .circle-con.con-right2 .text {
  text-align: left;
}
main #services.section .services-main .circle .circle-con.con-right3 {
  top: 70%;
  right: 7%;
  flex-direction: row;
}
main #services.section .services-main .circle .circle-con.con-right3 .text {
  text-align: left;
}
main #services.section .services-main .circle .circle-con .icon {
  width: 100px;
  padding: 1.3rem;
  height: 100px;
  border-radius: 50%;
  background: #404040;
}
main #services.section .services-main .circle .circle-con .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #services.section .services-main .circle .circle-con .text {
  text-align: right;
}
main .work-main {
  padding: 5rem 0;
}
main .work-main h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #ffbc13;
  text-align: center;
}
main .work-main .hedar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
main .work-main .hedar-text h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}
main .work-main .owl-carousel .item {
  margin: 0 1rem;
  height: 433px;
  position: relative;
}
main .work-main .owl-carousel .item img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
main .work-main .owl-carousel .item .icon {
  position: absolute;
  right: 6%;
  top: 2rem;
  background: #ffffff;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
main .work-main .owl-carousel .item .icon i {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
}
main .work-main .owl-carousel .item .text {
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
}
main .work-main .owl-carousel .item .text .chip {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 27%;
  color: #fff;
  background: rgba(255, 255, 255, 0.29);
}
main .work-main .owl-carousel .item .text h3 {
  color: #ffbc13;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 600;
}
main .work-main .owl-carousel .item .text p {
  color: #fff;
}
main .work-main .owl-carousel .item .btn {
  position: absolute;
  bottom: 0rem;
  right: 5%;
  border: 2px solid;
}
main .work-main .bottom-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
main .work-main .bottom-text .text {
  text-align: center;
}
main .work-main .bottom-text .text p {
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 400;
}
main .work-main .bottom-text .text h3 {
  font-weight: 400;
  font-size: 68px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5725490196);
}
main #Team.section {
  position: relative;
  width: 100%;
  height: auto;
}
main #Team.section img.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main #Team.section .team-main {
  display: flex;
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
main #Team.section .team-main h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}
main #Team.section .team-main .profile-con {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}
main #Team.section .team-main .profile-con .team-member {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}
main #Team.section .team-main .profile-con .team-member .name {
  margin: 1.5rem 0;
}
main #Team.section .team-main .profile-con .team-member .name h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
main #Team.section .team-main .profile-con .team-member .image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
main #Team.section .team-main .profile-con .team-member .image-container:hover .overlay {
  opacity: 1;
}
main #Team.section .team-main .profile-con .team-member .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ff0000, transparent);
  display: flex;
  justify-content: center;
  align-items: end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
main #Team.section .team-main .profile-con .team-member .image-container .overlay .social-icons {
  margin-bottom: 1rem;
}
main #Team.section .team-main .profile-con .team-member .image-container .overlay .social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 2rem;
}
main #Team.section .team-main .profile-con .team-member .image-container img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
main .testimonials-mein {
  display: flex;
  width: 100%;
  padding: 5rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
main .testimonials-mein h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffbc13;
}
main .testimonials-mein .testimonial-container {
  display: flex;
  gap: 20px;
  margin: 2rem 0;
  justify-content: space-between;
  width: 100%;
}
main .testimonials-mein .testimonial-container .testimonial-card {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.55);
  width: 30%;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
main .testimonials-mein .testimonial-container .testimonial-card::before {
  content: "";
  height: 4px;
  width: 0px;
  position: absolute;
  transition: all 0.5s ease 0s;
  z-index: -1;
  right: -7px;
  top: -5px;
}
main .testimonials-mein .testimonial-container .testimonial-card::after {
  content: "";
  height: 4px;
  width: 0px;
  position: absolute;
  transition: all 0.5s ease 0s;
  z-index: -1;
  left: -7px;
  bottom: -5px;
}
main .testimonials-mein .testimonial-container .testimonial-card:hover::before {
  width: 50%;
  height: 50%;
  background: #ffbc13;
}
main .testimonials-mein .testimonial-container .testimonial-card:hover::after {
  width: 50%;
  height: 50%;
  background: #ffbc13;
}
main .testimonials-mein .testimonial-container .testimonial-card .con {
  width: 100%;
  padding: 1.3rem;
  background: #ffffff;
  position: relative;
  z-index: 1;
}
main .testimonials-mein .testimonial-container .testimonial-card .con .user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}
main .testimonials-mein .testimonial-container .testimonial-card .con .user .user-image {
  width: 50px;
  height: 50px;
  background: lightgray;
  border-radius: 50%;
}
main .testimonials-mein .testimonial-container .testimonial-card .con .user h3 {
  font-size: 18px;
  font-weight: bold;
}
main .testimonials-mein .testimonial-container .testimonial-card .con .author {
  margin-top: 10px;
}
main .testimonials-mein .testimonial-container .testimonial-card .con .author strong {
  font-weight: bold;
  color: black;
}
main .testimonials-mein .testimonial-container .testimonial-card .con .author span {
  color: gray;
}
main .testimonials-mein .testimonial-container .testimonial-card .con p {
  font-size: 14px;
  color: #555;
}
main .testimonials-mein .owl-carousel2 {
  margin: 5rem 0;
}
main .testimonials-mein .owl-carousel2 .item {
  text-align: center;
}
main .testimonials-mein .owl-carousel2 .item i {
  font-size: 3rem;
  color: #ffbc13;
}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION START ---------------*/
@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION START ---------------*/
@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION START ---------------*/
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION START ---------------*/
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION START ---------------*/
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION START ---------------*/
@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION START ---------------*/
@media only screen and (max-width: 375px) {
  .container {
    max-width: 100%;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION COMPLETED ---------------*//*# sourceMappingURL=style.css.map */