@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  opacity: 60%;
}

h1,
h2 {
  font-family: "Roboto", serif;
}

button.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  border: none;
  outline: none;
  background: #ffbc13;
  color: #fff;
  transition: transform;
}
button.btn:hover {
  background: #000;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1rem;
}

header .nav_top {
  background: #ffbc13;
}
header .nav_top .top_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
header .nav_top .top_main .top_left a {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-right: 3rem;
}
header .nav_top .top_main .top_left a i {
  margin-right: 0.5rem;
}
header .nav_middle .middle_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
header .nav_middle .middle_main .logo_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
header .nav_middle .middle_main .logo_right .loc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .nav_middle .middle_main .logo_right .loc i {
  color: #ffbc13;
  font-size: 3rem;
}
header .nav_middle .middle_main .logo_right .loc .text h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
header .nav_bottom {
  background: #000;
}
header .nav_bottom .bottom_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}
header .nav_bottom .bottom_main ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
header .nav_bottom .bottom_main ul li a {
  color: #fff;
  text-transform: uppercase;
}
header .nav_bottom .bottom_main i {
  font-size: 1rem;
  color: #fff;
}

main #hero.section {
  width: 100%;
  height: 88vh;
  overflow: hidden;
}
main #hero.section .hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 0;
}
main #hero.section .hero-main .text {
  width: 40%;
}
main #hero.section .hero-main .text h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
}
main #hero.section .hero-main .text h1 span {
  color: #ffbc13;
}
main #hero.section .hero-main .text p {
  margin-bottom: 1rem;
  color: #fff;
  padding-right: 6rem;
}
main #hero.section .hero-main .hero-img {
  width: 40%;
}
main #hero.section .hero-main .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION START ---------------*/
@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION START ---------------*/
@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION START ---------------*/
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION START ---------------*/
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION START ---------------*/
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION START ---------------*/
@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION COMPLETED ---------------*/
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION START ---------------*/
@media only screen and (max-width: 375px) {
  .container {
    max-width: 100%;
  }
}
/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION COMPLETED ---------------*//*# sourceMappingURL=style.css.map */